<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">
  </head>

  <body>

    <!--  BACKGROUND VIDEO-->
    <video autoplay muted loop id="bg-video">
      <source src="/static/background.mp4" type="video/mp4" />
    </video>

    <!-- Everything else goes ABOVE the video -->
    <div class="page-content">

      <div class="app">
        <h1>my tasks</h1>
        <p class="subtitle">plan your day and future tasks🪼</p>
        <p id="today" class="today"></p>

        <!-- Input row -->
        <div class="input-row">
          <input id="newText" type="text" placeholder="add a task..." />

          <input id="dueDate" type="date" />

          <select id="category">
            <option value="">no category</option>
            <option value="personal">personal</option>
            <option value="school">school</option>
            <option value="work">work</option>
          </select>

          <button id="addBtn">add</button>
        </div>

        <p id="counter" class="counter"></p>

        <div class="filters">
          <button type="button" data-filter="all" class="active">All</button>
          <button type="button" data-filter="active">Active</button>
          <button type="button" data-filter="done">Done</button>
        </div>

        <ul id="list"></ul>

        <button id="clearCompleted" type="button" class="clear-btn">
          Clear completed
        </button>
      </div>

    </div>

    <script src="/static/app.js"></script>
  </body>
</html>